<html>

<head>
    <title>Iono Playground</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://p2.iono.qa/bundle/player.js"></script>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
</head>

<body>
    <div v-cloak id='app' class="container">
        <div class="column add-bottom">
            <div id="mainwrap">
                <button class='button is-rounded' @click='togglePlay()'>{{playButtonText}}</button>
                <button class='button is-rounded' @click='toggleMute()'>{{muteButtonText}}</button>
                <div style='float:right'>
                    <span>Volume: {{volume}}</span>
                    <circle-slider style='float:right' :min="0" :max='100' :side="50" v-model="volume"> </circle-slider>
                </div>
                <div id="nowPlay">
                    <span id="npAction"></span>
                    <span id="npTitle"></span>
                </div>
                <div id="audiowrap">
                    <progress @click='progressBarClicked()' id='progress-bar'
                              class="progress is-primary" value="0" max="1"></progress>
                    <span>{{position}} / {{ duration | formatDuration }}</span>
                    <div id="tracks">
                        <a @click="previousPlaylistItem()" id="btnPrev">&larr;</a><a
                           @click="nextPlaylistItem()" id="btnNext">&rarr;</a>
                    </div>
                </div>
                <div id="plwrap">
                    <ul id="plList">
                        <li @click="playlistItemSelect(index)" :class="{ plSel: currentPlaylistIndex === index }"
                            :key='index' v-for="(p, index) in playlist">
                            <div class="plItem">
                                <span class="plNum">{{index + 1}}</span>
                                <span class="plTitle">{{ p.metadata.title }}</span>
                                <span class="plLength">{{ p.metadata.duration | formatDuration}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button @click='logInfo()'>Console Log Info</button>
        <h6 class="text-muted">Tracking events:</h6>
        <pre class="pre-scrollable"><code>{{events}}</code></pre>
    </div>
    <script src="./index.js"></script>
</body>

</html>